/*Header start*/
.kapla{
	width: 100%;
	position: absolute;
	height: 135px;
	background: #45AAC1;
	margin-top:25px;
	z-index: -9999; 
}
.kapla2{
	width: 100%;
	position: absolute;
	height: 40px;
	background: #FF8800;
	z-index: -9999;
	top:160px;
}
.kapla3{
	width: 100%;
	position: fixed;
	height: 25px;
	background: #000;
}

.header{
	width: 960px;
	height: 125px;
	padding-top: 10px;
	background: #45AAC1;
	margin: 0 auto;
}
.logo{
	position: relative;
	float: left;
	height: 100%;
	width: 192px;
	background: #45AAC1;
	margin-top: 25px;
}
.giris_alani{
	width: 960px;
	height: 25px;
	background: #000;
	margin: 0 auto;
}

/*--------------------menü başlangıç-------------------*/

.menu{
	width: 480px;
	height: 40px;
	background: #FF8800;
	margin: 0 auto;
	margin-bottom: 25px;
}
.menu ul li{
	width: 120px;
	height: 40px;
	background: #FF8800;
	float: left;
	display: block;
	text-align: center;
	line-height: 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.menu ul li a{
	color: #000;
	text-decoration: none;
}


/*----------------------menü bitiş---------------------*/


/*-----------------arama bölümü başlangıç-------------*/
#aramaFormu{
	overflow: hidden;
	position: absolute;
	margin-top: 40px;
	margin-left: -35px;
	border-radius: 30px;
	box-shadow: 0px 2px 1px 0px #000;
}

#aramaFormu input{
	width:500px;
	height:31px;
	padding-left: 10px;
	float:left;
	border:none;
	background-color:#FFF;
	font-size:18px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	outline:none;
	color:#000;
}

#aramaFormu button:hover{
	background:url(../img/ara.png) no-repeat center center #FF8800;
}
	
#aramaFormu button{
	width:50px;
	height:33px;
	float:left;
	text-indent:-9999px;
	border:none;
	background:url(../img/ara.png) no-repeat center center orange;
	cursor:pointer;
}
/*-----------------arama bölümü bitiş-------------*/
.giris{
	float: right;
	height: 25px;
	width: 300px;
}
.giris ul li{
	float: right;
	display: block;
	width: 60px;
	font-size: 14px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	line-height: 25px;
	text-align: center;
	margin-left: 10px;
}
.giris ul li a{
	text-decoration: none;
	color: #FF8800;
}
.giris_yap{
	width: 200px;
	height: 135px;
	background: #FFF;
	right: 67px;
	position: relative;
	display: none;
}
.giris ul li:hover .giris_yap{
	display: block;
}
.giris ul li a:hover{
	color:#45AAC1;
}
.giris_yap button{
	width:70px;
	margin-top: 2.5px;
	height:25px;
	border:none;
	background:#45AAC1;
	cursor:pointer;
	color: #FFF;
}
.giris_hata{
	width: 288px;
	margin: 0 auto;
}

.giris_hata button{
	
	margin-top: 2.5px;
	height:25px;
	border:none;
	background:#45AAC1;
	cursor:pointer;
	color: #FFF;
}
.input{
	float: left;
	width: 528px;
	height: 100%;
	position: relative;
	background: #45AAC1;
	margin-top: 25px;
	/*padding-left: 15%;*/
}

.form_elemani{
	width: 250px;
	height: 220px;
	background: #FFF;
	margin: 0 auto;
}
.form_elemani input{
	width: 245px;
	height: 20px;
	margin: 0 auto;
}
/* input button start*/
/*.head_button{
	font-family: verdana;
	font-size: 13px;
	text-decoration: none;
	background: orange;
	display: block;
	float: left;
	width: 50%;
	line-height: 39px;
	height: 39px;
	text-align: center;
	border:none;
	cursor:pointer;
}

.head_button:active{
	color:black;
}*/
/* input button end*/

/*
.menu{
	float: left;
	margin-top:100px; 
	margin-left: 0 auto;
	height: 25px;
	width: 100%;
	background: yellow;
}
Menu list
.menu a{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	list-style: none;
	text-align: center;
	width: 96px;
	height: 100%;
	display: block;
	float: left;

}
*/

.pop_menu{
	height: 60px;
	width: 80%;
	background: black;
	display: none;/*bu ozellik sonradan bakilacak*/
}
/*Header end*/

/*Body start*/
.body{
	width: 920px;
	background-image:url(../img/bg.jpg);
	margin: 0 auto;
	padding:20px;
}
.element{
	/*max-width: 260px;*/
	width: 120px;
	height: 160px;
	margin:5px 5px 0 5px; 
	background: #990000;
	float: left;
	border:#CCC dotted 1px;
	
}
.elementInfo{
	display: block;
	width: 100%;/*Usttei alanin icinde oldugu icin %100 olabilir.*/
	height: 20px;
	background-color: yellow;
	position: relative;
	margin: -20px 0 0 0;
	z-index: 2;
}
.elementFiyat{
	font-size: 10px;
}
.element img{
	width: 150px;
	height: 220px;
	z-index: 1;
}
.last{
	float: left;
	width: 100%;
	height: 60px;
	background: #009900;
	display: none;/*Last review ilk kullanimda acilmamali*/
}
/*Body end*/


/*Footer start*/
.footer{
	height: 200px;
	width: 960px;
	background: yellow;
	margin: 0 auto;
}
.kapla4{
	width: 100%;
	position: absolute;
	height: 200px;
	background: #45AAC1;
	z-index: -9999; 
}
/*Sosyal alan baslangic*/
.sosyal{
	height: 30px;
	width: 100%;
	padding-top: 2px;
	/*background: #fff;*/
	position: inherit;
}
.sosyal a{
	float: right;
	padding-left: 1px;
}
.sosyal img{
	width: 25px;
	height: 25px;
}
/*Sosyal alan bitis*/

.links{
	float: left;
	height: 120px;
	width: 288px;
	/*margin-top: 40px;*/
	margin-left: 21px;
/*	padding: 2px;*/
	background: #009900;
/*	position: inherit;*/	
}
.map{
/*	position: inherit;	*/
	height: 120px;
	width: 288px;
/*	padding: 2px;*/
	margin: 0px auto;
	background: #009900;	
}
.iletisim{
/*	position: inherit;*/	
	float: right;
	height: 120px;
	width: 288px;
	margin-right: 21px;
/*	padding: 2px;*/	
	background: #009900;	
}
/*Footer end*/

/* ONAY HATA */
.onay,.hata{
	border: dotted 1px #FF8800;
	border-left: 2px solid #FF8811;
	display: block;
	cursor:wait; /*fare isaretcisini degistirdim.*/
	width: 288px;
	font-size: 14px;
	color: #FF8800;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	line-height: 20px;
	text-shadow: 0 0 1px #000000;
	padding-left: 4px;
	text-align: center;
	top: 200px;
	left:40%;
	z-index:999;
	position: fixed;
}
.onay{
	background: #45AAC1;
}
.hata{
	background: #C14564;

}
/*************/